body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header, main, aside, footer {
    background: beige;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

header {
    font-size: 16pt;
    font-weight: bold;
}

main {
    background: #F5F5F5;
    margin-left: 130px;
    text-align: left;
}

p {
    margin: 10px 5px;
}

aside {
    float: left;
    margin-top: 0;
    width: 100px;
}

aside a {
    display: block;
    color: brown;
    text-decoration: none;
    text-align: left;
    margin: 5px;
    padding: 8px;
}

aside a:hover {
    background: BurlyWood;
    border-radius: 3px;
}

footer {
  clear: both;
  font-size: 11pt;
}