* {
    margin: 0;
    padding: 0;
}

footer {
    position: absolute;
    width: 100%;
    height: 350px;
    bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    background: #234465;
}

section ul li {
    list-style-type: none;
    padding: 5px;
}

section {
    vertical-align: top;
    display: inline-block;
}

section h3 {
    font-size: 24px;
    padding-bottom: 20px; 
    color: orange;
}

footer section button {
    display: block; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 180px;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
    color: white;
    background: #234465;
    border: 2px solid orange;
}

#button-section {
    margin-top: 40px;
    margin-left: 130px;
}

#about-section, #friends-section, #rights-section {
    margin-top: 40px;
    margin-left: 100px;
}

#icons img {
    width: 35px;
    margin-top: 10px;
    margin-right: 10px;
}

#button-section button:hover {
    color: white;
    border: 2px solid orange;
    background: orange; 
}

section ul li:hover {
    cursor: pointer;
}